*.o
*Makefile
config.log
config.status
autom4te.cache
lib
*.swp
*~
*.mexa64
*aux.cu
*lib
*.a
*.pyc
*.so
*.mexw64
*.asv
*.DS_Store
.idea
.idea/*
examples
physio_out
.gitignore
.MATLABDriveTag

# Python
# See e.g. https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
